{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>数据标注系统v2</title>
  <!-- 下载到本地的bootstrap不好使，只能用线上的 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
  <style>
    th {
      background-color: #359f6a; /* MediumSeaGreen */
      color: #fff;
      font-weight: bold
    }
    .layui-table-cell {
      height: auto; /* 表格高度随文本高度变化而变化 */
      overflow: visible;  /* 内容不会被修剪，会呈现在元素框之外 */
      text-overflow: inherit; /* 随父元素overflow一样，也是visible */
      white-space: normal;  /*长文本换行*/
      word-break: break-word; /*长单词换行*/
    }
    .layui-table-view {
      margin-top: 0px;
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
{% csrf_token %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">数据标注系统</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">首页</a></li>
      {% if request.session.info.username %}
        <li><a href="/annotation_without_image/">不看图片标注</a></li>
        <li><a href="/annotation_with_image/">看图片标注</a></li>
        <li><a href="/contrast/">看图片标注对比</a></li>
      {% endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right"> 
      <li id="login_text">
      {% if request.session.info.username %}
        <p class="navbar-text">你好，{{ request.session.info.username }}</p>
      {% else %}
        <a href="javascript:;" lay-active="login_btn"><span class="glyphicon glyphicon-log-in"></span> 登录</a>
      {% endif %}
      </li>
    </ul>
  </div>
</nav>

<div class="layui-container">  
  <div class="layui-row">
    <div class="layui-col-xs5" style="text-align: center;">
      <div class="layui-anim layui-anim-scale">
        <img id="img" src={% static image_name %} class="img-thumbnail">
      </div>
    </div>
    <div id="table_en_and_label" class="layui-col-xs6  layui-col-xs-offset1">
      <table id="table_en"></table>
      <div style="text-align: center;">
        <span style="color: HotPink; font-size: 14px;" class="label">名词</span>
        <span style="color: Tomato; font-size: 14px;" class="label">动词</span>
        <span style="color: DeepSkyBlue; font-size: 14px;" class="label">形容词</span>
        <span style="color: palegreen; font-size: 14px;" class="label">数量</span>
        <span style="color: MediumOrchid; font-size: 14px;" class="label">其他</span>
        <span style="color: LightSteelBlue; font-size: 14px;" class="label">细化</span>
      </div>
    </div>
  </div>
  <div class="layui-row" style="margin-top: 5px;">
    <table id="table_zh"></table>
  </div>
</div>

<div id="all_layerpage" style="text-align: center;"></div>

<script src="{% static 'layui/layui.js' %}"></script>
<script type="text/html" id="switchTpl1">
  {% verbatim %}
  <input type="checkbox" lay-skin="switch" lay-text="是|否" {{ d.is_ambiguity == 1 ? 'checked' : '' }} disabled>
  {% endverbatim %}
</script>
<script type="text/html" id="switchTpl2">
  {% verbatim %}
  <input type="checkbox" lay-skin="switch" lay-text="是|否" {{ d.is_faulty == 1 ? 'checked' : '' }} disabled>
  {% endverbatim %}
</script>
<script>
  layui.use(['layer', 'jquery', 'form', 'element', 'util', 'laypage', 'table'], function(){
    var layer = layui.layer,
    $ = layui.$,
    form = layui.form,
    element = layui.element,
    util = layui.util,
    laypage = layui.laypage,
    table = layui.table;
    
    // 设置ajax POST请求需要csrf
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
        }
      }
    });

    // 默认监听点击事件
    util.event('lay-active', {
      'login_btn': function(){
        layer.open({
          type: 1,
          resize: false,  // 不允许拉伸
          area: '350px',
          shadeClose: true, // 可以点击弹出层之外的区域来关闭弹出层
          title: '登录',
          content: [
            '<ul class="layui-form layui-form-pane" style="margin: 15px;">',
              '<li class="layui-form-item">',
                '<label class="layui-form-label">用户名</label>',
                '<div class="layui-input-block">',
                  '<input class="layui-input" lay-verify="required" name="username">',
                '</div>',
              '</li>',
              '<li class="layui-form-item">',
                '<label class="layui-form-label">密码</label>',
                '<div class="layui-input-block">',
                  '<input class="layui-input" lay-verify="required" name="password">',
                '</div>',
              '</li>',
              '<li class="layui-form-item" style="text-align:center;">',
                // lay-filter 类似于id，用于事件监听
                '<button type="submit" lay-submit lay-filter="login" class="layui-btn">提交</button>',
              '</li>',
            '</ul>'].join(''),
          success: function(layero, index){ // 弹出层执行成功后，可执行下面的代码
            // 点击提交，发送数据给后端
            form.render().on('submit(login)', function(data){
              $.ajax({
                url:"/api/login/",
                data:data.field,  // 数据字典
                async:true,
                cache:false,
                type:"POST",
                dataType:"json",
                success:function(result){
                  if(result['is_user']){
                    layer.msg('登录成功！', {icon: 1});
                    // 登录成功之后的操作
                    setTimeout(function(){
                      location.reload();
                    }, 1500);
                  }
                  else{
                    layer.msg('用户名或密码错误！', {icon: 2});
                  }
                }
              }); //ajax结束
              layer.close(index); //关闭弹出层
            }); // submit数据发送结束
          } //弹出层执行成功后，代码体执行结束
        }); //弹出层结束
      } //login_btn事件结束
    }); //所有事件结束
  
    laypage.render({
      elem: 'all_layerpage',  // id
      count: 123287, // 总数，设置固定值以减少服务器开销
      limit: 1, // 每页显示一个
      curr: "{{ image_id }}",
      layout: ['count', 'prev', 'page', 'next', 'skip'],
      jump: function(obj, first){
        if(!first){ // 不是第一次访问，则进行页面跳转
          $(window).attr('location',"/show/"+obj.curr);
        }
      } //分页跳转结束
    });

    table.render({
      elem: '#table_zh', //指定原始表格元素选择器（推荐id选择器）
      url: '/api/show_zh_table/',
      cols: [[
        {field:'id', width: 55, unresize: true, title: 'No.'},
        {field:'zh_machine_translation', unresize: true, title: '机器翻译'},
        {field:'zh_without_image', unresize: true, title: '不看图片翻译'},
        {field:'zh_with_image', unresize: true, title: '看图片翻译'},
      ]], //设置表头
      method: 'post',
      where: {  // 额外传递参数image_id
        'image_id': '{{ image_id }}',
      }
    });

    table.render({
      elem: '#table_en', //指定原始表格元素选择器（推荐id选择器）
      url: '/api/show_en_table/',
      cols: [[
        {field:'id', width: 55, unresize: true, title: 'No.'},
        {field:'caption', unresize: true, title: '英文描述'},
        {field:'is_ambiguity', width: 77, unresize: true, title: '歧义', templet: '#switchTpl1'},
        //{field:'is_faulty', width: 77, unresize: true, title: '语病', templet: '#switchTpl2'},
      ]], //设置表头
      method: 'post',
      where: {
        'image_id': '{{ image_id }}',
      },
      done: function(res, curr, count){
        // 缩小图片高度
        var r_h = $('#table_en_and_label').outerHeight();
        var l_h = $('#img').outerHeight();
        var imgWidth = $("#img").width();
        if(l_h > r_h){ 
          $("#img").width((r_h*imgWidth)/l_h);
          $("#img").height(r_h);
        }
      }
    });
  });
</script>
</body>
</html>